@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
:root {
  --mainColor: #00af91;
  --mainFont: "Cairo", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: var(--mainFont);
}
header {
  background-color: var(--mainColor);
  color: white;
}
header .header {
  padding: 0px 30px;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header-content .logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.header-content .logo span {
  font-size: 15px;
  font-weight: normal;
  margin-left: 5px;
}
.header .header-content ul {
  display: none;
  list-style: none;
  margin-top: 40px;
}
.header-content ul li {
  margin-bottom: 40px;
  font-weight: bold;
}
.header-content ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
  transition: color 0.3s linear;
}
.header-content ul li a:hover {
  color: gray;
}
.header-content i {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  z-index: 100;
}
.header-content .icon-close {
  display: none;
  color: white;
}
@media (min-width: 576px) {
  .header-content i {
    font-size: 25px;
  }
  .header-content .logo {
    font-size: 30px;
    letter-spacing: 4px;
  }
  .header-content .logo span {
    letter-spacing: 10px;
  }
  .header-content ul li {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .header-content ul li a {
    font-size: 11px;
  }
  .header-content ul li a:hover {
    color: rgba(255, 255, 255, 0.57);
  }
  .header-content i {
    display: none;
  }
  .header .header-content ul {
    display: flex;
  }
  .header .header-content ul li:not(:last-of-type) {
    margin-right: 35px;
  }
}
@media (min-width: 992px) {
  .header-content ul li a {
    font-size: 13px;
  }
  .header .header-content ul li:not(:last-of-type) {
    margin-right: 55px;
  }
}
@media (min-width: 1200px) {
  .header .header-content ul li:not(:last-of-type) {
    margin-right: 70px;
  }
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
  position: fixed !important;
  right: 30px;
}
.show-list {
  display: flex !important;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: -20px;
  z-index: 40;
  margin-top: 0 !important;
  padding: 0;
  justify-content: center;
  text-align: center;
  color: white;
}
.fixed-nav {
  position: fixed;
  top: 0;
  background-color: white;
  color: var(--mainColor);
  z-index: 1000;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.hover-a:hover {
  color: #00af9283 !important;
}
