.tables {
  perspective: 200px;
  -ms-perspective: 200px;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 20px;
}
.tables table {
  border-spacing: 1px;
  margin-top: 20px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  position: relative;
}
.tables .first-table {
  transform: rotateY(-30deg);
  -ms-transform:  rotateY(-30deg);
  -moz-transform:  rotateY(-30deg);
  -o-transform:  rotateY(-30deg);
  -webkit-transform:  rotateY(-30deg);
  transform-origin: right;
  -o-transform-origin: right;
  -ms-transform-origin: right;
  -moz-transform-origin: right;
}
.tables .last-table {
  transform: rotateY(30deg);
  -ms-transform:  rotateY(30deg);
  -moz-transform:  rotateY(30deg);
  -o-transform:  rotateY(30deg);
  -webkit-transform:  rotateY(30deg);
  transform-origin: left;
  -ms-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  left: 0px;
  top: 3px;
}
.tables table caption {
  margin-bottom: 5px;
  font-weight: 900;
  text-transform: uppercase;
}
.tables table td {
  background-color: white;
  padding: 2px;
  color: var(--mainColor);
  font-weight: bold;
}
.tables .last-table td {
  padding: 5px;
}
.tables table .bg-trans,
.tables table .first-row td {
  background-color: transparent;
  color: white;
  text-align: center;
}
@media (min-width: 576px) {
 .tables table {
   font-size: 12px;
 }
}
@media (min-width: 768px) {
  .tables {
    perspective: 600px;
    -ms-perspective: 600px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
  }
  .tables table {
    font-size: 16px;
  }
  .tables table caption {
    margin-bottom: 10px;
  }
  .tables .first-table {
    transform: rotateY(-60deg);
    -moz-transform: rotateY(-60deg);
    -ms-transform: rotateY(-60deg);
    -o-transform: rotateY(-60deg);
    -webkit-transform: rotateY(-60deg);
  }
  .tables .last-table {
    transform: rotateY(60deg);
    -moz-transform: rotateY(60deg);
    -o-transform: rotateY(60deg);
    -ms-transform: rotateY(60deg);
    -webkit-transform: rotateY(60deg);
  }
  .tables table td {
    padding: 6px;
  }
  .tables .last-table {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .tables table {
    font-size: 20px;
  }
}
p.under-line {
  text-decoration: underline;
  font-weight: bold;
}
.exp-table {
  margin-top: 20px;
  margin-bottom: 20px;
}
.exp-table table {
  margin: auto;
  border-spacing: 1px;
  border-color: red;
  background-color: white;
  white-space: nowrap;
  font-size: 12px;
}
.exp-table table td {
  background-color: var(--mainColor);
  text-align: center;
}
.exp-table table td:first-of-type {
  text-align: left;
}
.exp-table table th,
.exp-table table td {
  padding: 4px;
}
.exp-table table th {
  color: var(--mainColor);
}
@media (min-width:576px) {
  .exp-table table {
    font-size: 15px;
  }
}
@media (min-width:768px) {
  .exp-table table td,
  .exp-table table th {
    padding: 10px;
  }
}
@media (min-width:992px) {

}
@media (min-width:1200px) {

}